.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    padding: 0 13vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(59, 60, 61, 1);
    color: white;
}
.footer{
    padding: 0 13vw;
     background-color: rgba(35, 36, 37, 1);
     color: rgba(255, 255, 255, 0.5);
     width: 100%;
     padding-bottom: 3vw;
}
.footerTop{
    padding-top: 4vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.columText{
    display: flex;
    flex-direction: column;
}
.text18px{
    font-size: 18px;
}
.botomFooter{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5vw;
}
.text20px{
    font-size: 20px;
}
main {
    flex: 1;
}